<!DOCTYPE html>
<html>
	<head>
	    <title><%= title %></title>
		<script type="text/javascript" src="/javascripts/jquery-2.0.1.min.js"></script>
		<script type="text/javascript" src="/javascripts/knockout-2.2.1.min.js"></script>
		<script type="text/javascript" src="/javascripts/knockout.mapping-2.4.1.min.js"></script>
		<script type="text/javascript" src="/javascripts/index.js"></script>
	    <link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
	    <h1><%= title %></h1>
	    <p>Welcome to <%= title %></p>
	
		<label for="txtCharacterName">Character Name:</label>
		<input type="text" id="txtCharacterName" />
		<br />
		
		<label for="txtPlayerName">Player Name:</label>
		<input type="text" id="txtPlayerName" />
		<br />
		
		<label for="numLevel">Level:</label>
		<input type="number" id="numLevel" min="1" max="20" />
		<br />
		
		<label for="ddRace">Race:</label>
		<select id="ddRace" 
		        data-bind="options: availableRaces, 
		                   optionsText: function(item) { 
		                       return item.name
		                   }, 
		                   value: selectedRace, 
		                   optionsCaption: '--- Select Race ---'"></select>
		<br />
		
		<label for="ddClass">Class:</label>
		<select id="ddClass" 
		        data-bind="options: availableClasses, 
		                   optionsText: function(item) { 
		                       return item.name
		                   }, 
		                   value: selectedClass, 
		                   optionsCaption: '--- Select Class ---'"></select>
		<br />
		
		<label for="ddGender">Gender:</label>
		<select id="ddGender">
			<option value="">--- Select Gender ---</option>
			<option value="M">Male</option>
			<option value="F">Female</option>
		</select>
		<br />
		
		<label for="ddAlignment">Alignment:</label>
		<select id="ddAlignment" 
		        data-bind="options: availableAlignments, 
		                   optionsText: function(item) { 
		                       return item.name + ' (' + item.altName + ')'
		                   }, 
		                   value: selectedAlignment, 
		                   optionsCaption: '--- Select Alignment ---'"></select>
		<br />
		
		<label for="ddDeity">Deity:</label>
		<select id="ddDeity" 
		        data-bind="options: availableDeities, 
		                   optionsText: function(item) { 
		                       return item.name + ' (' + item.alignment.name + ')'
		                   }, 
		                   value: selectedDeity, 
		                   optionsCaption: '--- Select Deity ---'"></select>
		<br />
		
		<label for="txtSize">Size:</label>
		<span id="txtSize"></span>
		<br />
		
		<label for="numAge">Age:</label>
		<input type="number" id="numAge" disabled="disabled" />
		<span id="ageExample"></span>
		<br />
		
		<label for="txtHeight">Height:</label>
		<input type="text" id="txtHeight" />
		<br />
		
		<label for="txtWeight">Weight:</label>
		<input type="text" id="txtWeight" />
		<br />
		
		<label for="clrEyes">Eyes:</label>
		<input type="color" id="clrEyes" />
		<br />
		
		<label for="clrHair">Hair:</label>
		<input type="color" id="clrHair" />
		<br />
		
		<label for="clrSkin">Skin:</label>
		<input type="color" id="clrSkin" />
	</body>
</html>